<launch>
  <node name="randomize_blocks" pkg="p5" type="so_runner" args="randomize_blocks" output="screen"/>
  <node name="block_sensors" pkg="p5" type="so_runner" args="block_sensors" output="screen"/>
  <node name="transition_server" pkg="p5" type="so_runner" args="transition_server" output="screen"/>
  <node name="problem1_solution" pkg="p5" type="so_runner" args="problem1_solution" output="screen"/>
  <node name="problem2_solution" pkg="p5" type="so_runner" args="problem2_solution" output="screen"/>
  <node name="problem3_solution" pkg="p5" type="so_runner" args="problem3_solution" output="screen"/>
  <node name="problem4_solution" pkg="p5" type="so_runner" args="problem4_solution" output="screen"/>
</launch>
